.scrollable-container1 {
  width: 65px;
  height: 500px;
  overflow: auto;
  margin: 0;
  background-color: #ddd;
  margin-left: 0px;
  font-size: small;
}  

ul {
  padding: 0px;
}  

.scrollable-container2 {
  width: 160px;
  height: 500px;
  overflow: auto;
  margin: 0;
  background-color: #ddd;
}  

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  /* width: 100%; */
  margin-left: 0px;
}
.buttons {
  background-color: #1c1e21;
  width:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button1 {
  width: 65px;
  font-size: small;
}
.button2 {
  width: 160px;
  font-size: small;
}

button {
  padding: 8px 12px; 
}

li {
  margin-bottom: 4px; 
}

.button1.selected,
.button2.selected {
  background-color: #007bff;
  color: #fff;
}

